<!doctype html>
<html>
    <head>
{{> head}}
    </head>
    <body>

{{> nav }}

        <main>
            <h2>About picoCDN</h2>
            <p>
                picoCDN is a file hosting service for developers. It hosts any kind of text and offers powerful, chainable manipulation plugins.
            </p>

            <h3>Questions & Answers</h3>
            <section>
                <aside>Is picoCDN a <i>real</i> CDN?</aside>
                <article>No, not in terms of server capacity. It runs on a low end VPS.</article>
            </section>

            <section>
                <aside>How long do you keep my files?</aside>
                <article>We don't delete anything yet, but expect something around 30 days after the last visit.</article>
            </section>

            <section>
                <aside>Is there a file size limit?</aside>
                <article>1 megabyte.</article>
            </section>

            <section>
                <aside>Where do I report bugs or submit patches?</aside>
                <article><a href="https://github.com/jgillich/picoCDN">On GitHub</a>.</article>
            </section>
        </main>


    </body>
</html>

