<!doctype html>
<html>
    <head>
{{> head}}
    </head>
    <body>

{{> nav }}

        <main>
            <form action="/submit" method="post">
                <textarea name="text" placeholder="Paste anything"></textarea>
                <button>Save</button>
            </form>
        </main>

{{> footer }}

    </body>
</html>

